{% extends "layout.twig" %}

{% block content %}

<!-- CONTAINING PAGE WRAP-->
<div class="page-wrap careers">

{% include '/includes/rd-header--alt.twig' %}


    <!-- JOIN BASEKIT !-->
    <section class="careers-header">
        <div class="container">
            {{widget('content', 'join-heading', {"content":'<h2 class="heading--black  space--10">Reinforce the Site Maker XL Team!</h2>'})|raw}}
            {{widget('content', 'join-sub_heading', {"content":'<p class="heading--black">Create, learn, challenge and discover.</p>'})|raw}}
        </div>
    </section>


    <!-- WHY BASEKIT !-->
    <section class="why-basekit  center">
        <div class="container">
            <hgroup>
                {{widget('content', 'why-heading', {"content":'<h2>Why Site Maker XL?</h2>'})|raw}}
            </hgroup>

            <div class="res-col columns">
                <div class="column span-100 profile">
                    {{widget('content', 'why-basekit_content', {"content":'<p>The Site Maker XL team works with passion and ambition on a web product that we can all be proud of. We work together to inspire each other, encourage personal progress and improve our work / private balance. With a rapidly growing team of 10+ employees, we are always looking for inspiring challenges. We offer a friendly and welcoming environment, the opportunity to work with people who possess a wide range of skills and talents, and the opportunity to really get the best out of yourself.</p>'})|raw}}
                </div>
            </div>
        </div>
    </section>

    <!-- CURRENT VACANCIES !-->
    <section class="current-vacancies  section  alt">
        <div class="container">
            <div class="res-col columns">
                 <div class="column span-100">

                     <hgroup>
                        {{widget('content', 'vacancies-heading', {"content":'<h5 class="heading--black">Available Vacancies</h5>'})|raw}}
                    </hgroup>

                    <ul class="vacancies">

                        <!-- JOB 2 -->
                        <li class="accordian-expand">
                            {{widget('content', 'job-title-2', {"content":'<h4>Junior (web) designer (Hoogvliet, NL)</h4>'})|raw}}
                            {{widget('content', 'job-location-2', {"content":'<span class="job-location">Hoogvliet, NL</span>'})|raw}}
                            <script type="text/javascript">
                                //<![CDATA[
                                // <!--
                                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                                "=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                                ".substr(0,ol);}f(\")321,\\\"5=7\\\"\\\\(7i(:|hsr@>\\\\\\\\!220\\\\630\\\\73" +
                                "0\\\\310\\\\730\\\\W030\\\\100\\\\620\\\\^230\\\\130\\\\520\\\\630\\\\100\\" +
                                "\\Q630\\\\000\\\\230\\\\130\\\\130\\\\t\\\\H5U420\\\\520\\\\400\\\\010\\\\0" +
                                "00\\\\BC<&2-,:w ;9765%pr\\\\m+'mn720\\\\'&+i2,/&1 \\\"\\\\771\\\\MP]_^XO130" +
                                "\\\\OQZR710\\\\RS020\\\\CBO500\\\\^@CBUDFcQCOu$rhwsxu5J(rv`y0n2/$efl|ntr*wl" +
                                "dm310\\\\630\\\\320\\\\730\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoC" +
                                "rahCmorf.gnirtS=+o;721=%y;i=+y)321==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\" +
                                "\"=o,i rav{)y,x(f noitcnuf\")"                                               ;
                                while(x=eval(x));
                                //-->
                                //]]>
                            </script>
                        </li>

                        <div class="job-role">
                            {{widget('content', 'job-information-2', {"content":'
                             <ul class="job-information">
                                <li><i class="icon fa-clock"></i>Full Time</li>
                                <li><i class="icon fa-user"></i>Design Team</li>
                             </ul>
                             '})|raw}}

                            {{widget('content', 'job-description-2', {"content":'<p>Site Maker XL offers you a varied internship in a close team consisting of specialized marketers and web designers. Your tasks include graphic work. You can think of designing and maintaining the various websites, creating digital newsletters, banners, visuals and other multimedia applications, as well as designing and drafting billboards and advertisements. The monitoring of the different house styles is also the responsibility of the (web) designer.</p>

                            <h5>Job description:</h5>
                            <ul>
                                <li>Develop custom websites in Site Maker XL</li>
                                <li>Optimize User Experience</li>
                                <li>Collaborate with colleagues from Design and Marketing</li>
                                <li>Front-end theme design in the Twig engine</li>
                                <li>CSS adjustments with basic websites</li>
                                <li>Quality control, responsive testing</li>
                                <li>Optimization of existing themes</li>
                            </ul>

                            <h5>Supervision:</h5>
                             <ul>
                                <li>Successful completion of the period of 3 months probation</li>
                                <li>Monthly feedback</li>
                                <li>Short lines and possibility of direct communication lines with the technical director</li>
                            </ul>

                            <h5>Your profile:</h5>
                             <ul>
                                <li>Experience with HTML, CSS, Adobe Photoshop, Javascript, jQuery, Illustrator, Dreamweaver and Indesign.</li>
                                <li>A commercial institution with a passion for designing and designing, alongside marketing, multimedia and internet, your interest.</li>
                                <li>You find it a challenge to jointly strive for the best end product.</li>
                                <li>You have the following competencies: enterprising, creative, flexible and motivated.</li>
                                <li>A good knowledge of the English language. Mastery of German and French is an advantage</li>
                                <li>Enjoy technical challenges and come up with creative, inspiring ways to solve things.</li>
                            </ul>

                           <h5>Education</h5>
                             <ul>
                                <li>Engaged in an MBO-4 or HBO study program.</li>
                                <li>Deal with confidential information and / or problems with the help of discretion and judgment.</li>
                            </ul>'})|raw}}

                        </div>

                        <!-- JOB 3 -->
                        <li class="accordian-expand">
                            {{widget('content', 'a-job-title-3', {"content":'<h4>Junior First Line Customer Support</h4>'})|raw}}
                            {{widget('content', 'a-job-location-3', {"content":'<span class="job-location">Hoogvliet, NL</span>'})|raw}}
                            <script type="text/javascript">
                                //<![CDATA[
                                // <!--
                                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                                "=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                                ".substr(0,ol);}f(\")34,\\\"200\\\\010\\\\410\\\\730\\\\720\\\\n\\\\R530\\\\" +
                                "r\\\\IC^]m520\\\\010\\\\uFBCWC300\\\\LUB2rq}vi9vxbaaq0M-|}l`h*+T~jutb/xc020" +
                                "\\\\430\\\\730\\\\230\\\\410\\\\[$J220\\\\430\\\\TQ.430\\\\730\\\\410\\\\@1" +
                                "30\\\\500\\\\000\\\\710\\\\230\\\\t\\\\500\\\\&310\\\\500\\\\710\\\\300\\\\" +
                                "\\\\\\\\300\\\\<a038t-1<3&51220\\\\\\\"\\\\2 $w#?& )*d130\\\\y%'3(730\\\\_1" +
                                "00\\\\630\\\\320\\\\TU]C_GC530\\\\F_UB[NCO\\\"(f};o nruter};))++y(^)i(tAedo" +
                                "Crahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=" +
                                "o,i rav{)y,x(f noitcnuf\")"                                                  ;
                                while(x=eval(x));
                                //-->
                                //]]>
                            </script>
                        </li>

                        <div class="job-role">

                            {{widget('content', 'job-information-3', {"content":'
                             <ul class="job-information">
                                <li><i class="icon fa-clock"></i>Full Time</li>
                                <li><i class="icon fa-user"></i>Support Team</li>
                             </ul>
                             '})|raw}}

                            {{widget('content', 'a-job-description-3', {"content":'<p>The first line support team provides the point of contact for all customers with questions about Site Maker XL. In most cases you will immediately be able to answer the questions of the customers, but if you do not succeed, you can get a second line team. The support team is located in the same office as our development team, so the communication lines are short and there are plenty of opportunities to learn and grow professionally. In addition, we also have technical partners at various locations around the world - South America, North America and throughout Europe.</p>

                            <h5>Job description:</h5>
                            <ul>
                                <li>Answer technical questions about Site Maker XL with Instant Messenger Chat, emails and screen shares.</li>
                                <li>Solving customer/ partner tickets through our ticket system.</li>
                                <li>Organizing training courses for our clients (online and offline).</li>
                                <li>Assisting the second-line team in dealing with user problems.</li>
                                <li>Creating a knowledge base through tutorials, help docs and videos.</li>
                                <li>Translate/ localize Site Maker XL and our supporting documentation.</li>
                                <li>Take advantage of the learning and experience of role to advise Site Maker XL engineers and designers on how best to meet the needs of the user.</li>
                                <li>Keep track of all customers not renewing as part of the retention plan and providing them with all the support needed to renew their subscription.</li>
                                <li>Management of our Community forums.</li>
                                <li>To support partners and customers in their own or second language, being Russian, French, Spanish, Dutch, Portuguese or German.</li>
                            </ul>

                            <h5>Supervision:</h5>
                             <ul>
                                <li>Successful completion of the period of 3 months probation</li>
                                <li>Monthly feedback</li>
                                <li>Short lines and possibility of direct communication lines with the technical director</li>
                            </ul>

                            <h5>Your profile:</h5>
                             <ul>
                                <li>Some experience with building websites using Dreamweaver, Wordpress or other well-known tools.</li>
                                <li>Excellent communication skills.</li>
                                <li>Basic knowledge of HTML and CSS.</li>
                                <li>Knowledge of website hosting.</li>
                                <li>Sincere enthusiasm for solving problems.</li>
                                <li>Real desire to give good customer service at all times!</li>
                            </ul>

                           <h5>Education</h5>
                             <ul>
                                <li>Busy with a MBO-4 or completed.</li>
                                <li>Deal with confidential information and / or problems with the help of discretion and judgment.</li>
                            </ul>'})|raw}}

                        </div>

                        <!-- JOB 4 -->
                        <li class="accordian-expand">
                            {{widget('content', 'a-job-title-4', {"content":'<h4>Branchmanager/ Account Manager</h4>'})|raw}}
                            {{widget('content', 'a-job-location-4', {"content":'<span class="job-location">Hoogvliet, NL</span>'})|raw}}
                            <script type="text/javascript">
                                //<![CDATA[
                                // <!--
                                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                                "=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                                ".substr(0,ol);}f(\")34,\\\"200\\\\010\\\\410\\\\730\\\\720\\\\n\\\\R530\\\\" +
                                "r\\\\IC^]m520\\\\010\\\\uFBCWC300\\\\LUB2rq}vi9vxbaaq0M-|}l`h*+T~jutb/xc020" +
                                "\\\\430\\\\730\\\\230\\\\410\\\\[$J220\\\\430\\\\TQ.430\\\\730\\\\410\\\\@1" +
                                "30\\\\500\\\\000\\\\710\\\\230\\\\t\\\\500\\\\&310\\\\500\\\\710\\\\300\\\\" +
                                "\\\\\\\\300\\\\<a038t-1<3&51220\\\\\\\"\\\\2 $w#?& )*d130\\\\y%'3(730\\\\_1" +
                                "00\\\\630\\\\320\\\\TU]C_GC530\\\\F_UB[NCO\\\"(f};o nruter};))++y(^)i(tAedo" +
                                "Crahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=" +
                                "o,i rav{)y,x(f noitcnuf\")"                                                  ;
                                while(x=eval(x));
                                //-->
                                //]]>
                            </script>
                        </li>

                        <div class="job-role">

                            {{widget('content', 'a-job-information-4', {"content":'
                             <ul class="job-information">
                                <li><i class="icon fa-clock"></i>Full Time</li>
                                <li><i class="icon fa-user"></i>Sales Team</li>
                             </ul>
                             '})|raw}}

                            {{widget('content', 'a-job-description-4', {"content":'<p>As an Ambitious Branch Manager, you will mainly focus on bringing in new customers. You introduce potential customers to our products. You get an internal training and you get to work immediately. In the first instance, you will mainly be occupied with the telephone sales of our Website options. You identify sales opportunities and use them optimally. You acquire (telephone) new customers. In addition, it is your job to draw up quotations / contracts, the administrative processing. You report to the commercial director.</p>
                            <h5>Key Responsibilities:</h5>
                            <ul>
                                <li>Build and monitor all phases of own sales funnel for the sale of cloud services within SMEs and corporate.</li>
                                <li>Ensuring the achievement of set goals.</li>
                                <li>Writing offers and certified mail for announcements.</li>
                                <li>Maintaining contacts with prospects, customers and business partners.</li>
                                <li>Careful processing of customer information system.</li>
                                <li>Participating in training sessions and sessions with regard to product introductions.</li>
                                <li>To adhere to procedures that enable good communication and cooperation between Account Managers and commercial office staff.</li>
                                <li>Proactively defining possible bottlenecks and providing solutions.</li>
                                <li>Handling escalations of disputes with customers, both internal and external.</li>
							</ul>
                            <h5>Supervision:</h5>
                             <ul>
                                <li>Successful completion of the period of 3 months probation</li>
                                <li>Monthly feedback</li>
                                <li>Short lines and possibility of direct communication lines with the VP Sales</li>
                            </ul>

                            <h5>Job requirements:</h5>
                             <ul>
                                <li>Minimum age 25 years</li>
                                <li>Able to work independently.</li>
                                <li>Experience not necessary (but an advantage in the industry)</li>
                                <li>Extrovert</li>
                                <li>Result and customer-oriented</li>
                                <li>Have good contact properties</li>
                                <li>Willingness to learn!!</li>
                                <li>Top-class mentality</li>

                            </ul>

                            <h5>Education</h5>
                             <ul>
                                <li>HBO think/ work level (through training or experience).</li>

                            </ul>'})|raw}}

                        </div>

                </div>
            </div>
        </div>
    </section>


    <!-- COMPANY BENEFITS !-->
    <section class="benefits light-grey">
        <div class="container">
            <div class="res-col columns">
                 <div class="column span-100 profile">
                 <hgroup class="text-center">
                    {{widget('content', 'benefits-heading', {"content":'<h2 class="space--60">Business benefits</h2>'})|raw}}
                </hgroup>
                    {{widget('content', 'why-basekit-perks', {"content":'
                    <ul>
                        <li><p>Flexible time, core times are 10:00-17:00</p><i class="icon fa-tick"></i></li>
                     <!--   <li><p>Contributory pension scheme</p><i class="icon fa-tick"></i></li>
                        <li><p>Weekly cake making a.k.a "BakeKit" (i.e. free cake!)</p><i class="icon fa-tick"></i></li>
                        <li><p>Eligibility to join our Cycle to Work and childcare voucher scheme</p><i class="icon fa-tick"></i></li>
                        <li><p>Our Bristol team benefits from a corporate gym membership at a neighbouring hotel</p><i class="icon fa-tick"></i></li>!-->
                    </ul>
                    <ul>
                            <li><p>Generous 25 days of holiday per calendar year</p><i class="icon fa-tick"></i></li>
                        <!-- <li><p>Thirsty Thursday is a long-held tradition (Everybody herds to the pub!)</p><i class="icon fa-tick"></i></li>
                        <li><p>Royale 25 dagen vakantie per kalenderjaar</p><i class="icon fa-tick"></i></li>
                        <li><p>Industry meetups hosted at BaseKit Bristol (PHPSW, BristolJS)</p><i class="icon fa-tick"></i></li>
                        <li><p>Table tennis complete with hyper competitive players... and a few beginners!</p><i class="icon fa-tick"></i></li>!-->
                    </ul>'})|raw}}
                </div>
            </div>
        </div>
    </section>

    {% include '/includes/rd-footer.twig' %}

<!-- END CONTAINING PAGE WRAP-->
</div>

{% endblock %}
